/* La colonna della data non viene spezzata (rimane tutto su una riga) */
.no-wrap-column {
    white-space: nowrap;
    width: 1%;
    min-width: 120px;
}

/* Cambia colore della riga al passaggio del cursore e rende il cursore un puntatore */
#interventi-table.table tbody tr:hover {
    background-color: #284c56;
    cursor: pointer;
}
