<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Intervento</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standard.css">
</head>
<body>
<div class="container mt-xl-2">
    <div class="container mt-xl-2">
        <h1 style="text-align: center">Modifica Intervento</h1>

        <form>
            <fieldset>
                <div>
                    <legend>Tipo impianto</legend>
                    <input type="text" class="form-control" placeholder="Nuovo tipo impianto" id="inputDefault">
                    <select class="form-select" id="tipo-impianto">
                    </select>
                </div>
            </fieldset>
        </form>
    </div>
</div>

        <!-- Sezione Pulsanti -->
        <div class="button-section">
            <button class="btn btn-success" onclick="">Conferma</button>
            <button type="button" class="btn btn-warning">Elimina</button>
        </div>

</body>



</html>